{% extends 'base.html.twig' %}

{% block title %}Mention légale{% endblock %}
{% block body %}
</header>

    <section id="mentions-legales" style="background: #fff;
    color: #000;
    max-width: 1100px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 40px;
    border-radius: 15px;">
        <h2>Mentions Légales</h2><br><br>

        <p><strong>Siège Social :</strong> Troyes</p><br><br>

        <p><strong>Directeur de la publication :</strong><br><br>
            - Enzo Russo<br>
            - Colin Bazelaire<br>
            - Tommy Ha
        </p><br><br>

        <p><strong>Hébergement :</strong> Github</p><br><br>

        <p><strong>Responsabilité :</strong><br><br>
            Les directeurs de la publication veillent au bon fonctionnement et à la qualité du contenu publié sur le site IntraWeb. Cependant, ils déclinent toute responsabilité quant aux éventuelles erreurs ou omissions dans les informations diffusées. Les utilisateurs du site sont invités à signaler toute inexactitude ou correction nécessaire.
        </p><br><br>

        <p><strong>Propriété intellectuelle :</strong><br><br>
            L'ensemble du contenu présent sur le site IntraWeb, incluant mais sans s'y limiter, les textes, graphiques, logos, images, vidéos, codes sources, est la propriété exclusive des directeurs de la publication ou de leurs partenaires. Toute reproduction, distribution, ou utilisation non autorisée est strictement interdite.
        </p><br><br>

        <p><strong>Protection des données personnelles :</strong><br><br>
            Les informations collectées sur le site IntraWeb ne sont destinées qu'à un usage interne. Conformément à la législation en vigueur, les utilisateurs disposent d'un droit d'accès, de modification et de suppression de leurs données personnelles. Pour exercer ce droit, veuillez contacter les directeurs de la publication.
        </p><br><br>

        <p><strong>Hébergement :</strong><br><br>
            Le site IntraWeb est hébergé par Github. Pour toute question relative à l'hébergement, veuillez contacter Github directement.
        </p><br><br>

        <p><strong>Contact :</strong><br><br>
            Pour toute question ou demande d'information, veuillez contacter les directeurs de la publication à l'adresse suivante : [adresse e-mail].
        </p><br><br>

        <p><strong>Dernière mise à jour :</strong> 02/12/2023</p>
    </section>
    </body>
    </html>
{% endblock %}
