{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        {# Afficher les messages flash #}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <form id="loginForm" method="post" action="{{ path('app_connexion') }}">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Se connecter</button>
        </form>
    </div>

    <script src="{{ asset('js/script-connexion.js') }}"></script>
    </body>
    </html>
{% endblock %}
