{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
    <h1>Contactez-nous</h1>
    <p>Utilisez le formulaire ci-dessous pour nous contacter.</p>
{% endblock %}
