{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    </header>
    <head>
        <meta name="avatar-path" content="{{ asset('images/img9.png') }}">
    </head>

    <div class="form-container">
    <div class="form-titre">
        <h2>Profil</h2>
    </div>
        <div id="profileInfo"></div>
        <a class="form-submit" style="text-decoration: none; padding: 7px 13px;font-family: 'Prompt', sans-serif; border-radius: 30px;" href="{{ path('app_deconnexion') }}">Déconnexion</a>
    </div>

    <script src="{{ asset('js/script-profil.js') }}"></script>
    </body>
    </html>
{% endblock %}