<footer>
    <div class="footer-content">
        <div class="footer-content-container">
            <h2>BESOIN D'AIDE ?</h2>
            <div class="footer-content-link">
                <a href="/contact">Contactez-nous</a>
                <a href="">FAQ</a>
            </div>
        </div>
        <div class="footer-content-container">
            <h2>A PROPOS DE NOUS</h2>
            <div class="footer-content-link">
                <a href="">Qui sommes-nous ?</a>
                <a href="">Notre concept</a>
                <a href="">Nos engagements</a>
                <a href="">Politique de confidentialité</a>
            </div>
        </div>
        <div class="footer-content-container">
            <h2>SUIVEZ-NOUS</h2>
            <div class="footer-content-text">
                <p>Restez informé en nous suivant sur les réseaux</p>
            </div>
            <div class="footer-content-social">
                <img src="{{ asset('images/facebook.png') }}">
                <img src="{{ asset('images/instagram.png') }}">
                <img src="{{ asset('images/linkedin.png') }}">
            </div>
        </div>
    </div>
    <p class="copyright">&copy Copyright - 2022 - URCA Tous droits réservés.</p>
</footer>