{# templates/inscription/success.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Inscription réussie{% endblock %}
{% block body %}
    <div class="container">
        <h1>Inscription réussie!</h1>
        <p>Merci de vous être inscrit.</p>
    </div>
{% endblock %}
