{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
    <h1>Contactez-nous</h1>
    <p>Vous pouvez nous contacter à l'aide des informations suivantes...</p>
{% endblock %}
