<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    {% block stylesheet %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>

{{ render(controller('App\\Controller\\MenuController::menu')) }}


<div>
    {% block body %}{% endblock %}
</div>
{{ render(controller('App\\Controller\\FooterController::footer')) }}
</body>
</html>
