{% extends 'base.html.twig' %}

{% block title %}Devoir{% endblock %}
{% block body %}
    <div id="panier">

    </div>

    <!-- Formulaire pour ajouter un nouvel article -->
    <form id="addProductForm">
        <label for="productName">Nom du produit:</label>
        <input type="text" id="productName" required>

        <label for="productPrice">Prix:</label>
        <input type="number" id="productPrice" required>

        <label for="productQuantity">Quantité:</label>
        <input type="number" id="productQuantity" required>

        <label for="productImage">URL de l'image:</label>
        <input type="text" id="productImage" required>

        <button type="submit">Ajouter</button>
    </form>


    <script src="{{ asset('js/script-devoir.js') }}"></script>
    </body>
    </html>
{% endblock %}